<div class="page">
  <br>

    <div class="card text-bg-secondary mb-3">  
          <div class="card-body">
            <h5 class="card-title">Notre histoire</h5>
            <p class="card-text">Ce magnifique cinéma a vu le jour en 2023, créé par un groupe d'amis passionnés de cinéma. Chaque dimanche soir, ils se réunissaient chez l'un d'entre eux pour regarder des films classiques et discuter de leur amour commun pour le septième art. Le Cinéma Du Dimanche à donc été créé, sachant que le dimanche était le jour parfait pour se détendre et profiter d'un bon film. Notre équipe à voulu recréer une atmosphère accueillante et familiale dans ce cinéma, comme lors des soirées cinéma à la maison. </p>
          </div>
        
    </div>
    <br>
    <div class="card">
    <div class="card bloc">
    <div class="card-body" >
        <h5 class="card-title">L'équipe du Cinéma Du Dimanche</h5>
        <p class="card-text">Voici une petite présentation des membres de l'équipe qui seront prêt à tout pour vous satisfaire !</p>
    </div>
    </div>
<br>
    <div class="row" >
      <div class="col-sm-6 mb-3 mb-sm-0">
        
        <div class="card blocPeople">
          <div class="card-body" >
            <h5 class="card-title">Marine Barbarin</h5>
            <p class="card-text">Elle est passionnée par l'art du cinéma depuis son plus jeune âge. Marine est la force créative du groupe, toujours à la recherche de films innovants et originaux à programmer. Elle est également douée pour créer une atmosphère accueillante et chaleureuse au sein du cinéma, s'assurant que chaque spectateur se sente le bienvenu.</p>
            <p><i class="fa fa-phone"></i> +33 686997898</p>
            <p><i class="fa fa fa-envelope"></i> CréatricePassionnéeCDD@cinema.com</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card blocPeople">
          <div class="card-body">
            <h5 class="card-title">Robin Brunel</h5>
            <p class="card-text">Robin est le cœur et l'âme de l'équipe du Cinéma Du Dimanche. Avec son charisme et sa joie de vivre contagieuse, il est chargé de l'accueil des spectateurs et de s'assurer que chaque visiteur se sente comme à la maison. Toujours prêt à engager une conversation sur les films, il crée une atmosphère conviviale qui rend les soirées cinéma encore plus spéciales.</p>
            <p><i class="fa fa-phone"></i> +33 686997897</p>
            <p><i class="fa fa fa-envelope"></i> CoeurDuCDD@cinema.com</p>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row" >
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card blocPeople">
          <div class="card-body" >
            <h5 class="card-title">Vincent Tang</h5>
            <p class="card-text">Vincent est un passionné d'histoire du cinéma. Il est incollable sur les réalisateurs, les acteurs et les anecdotes des films. C'est lui qui organise les soirées spéciales et les rencontres avec des réalisateurs invités. Il s'assure que chaque événement ait une touche unique et propose des discussions intéressantes autour des films projetés.</p>
            <p><i class="fa fa-phone"></i> +33 686997896</p>
            <p><i class="fa fa fa-envelope"></i> PassionHistoriqueCDD@cinema.com</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card blocPeople">
          <div class="card-body">
            <h5 class="card-title">Jaufret Marguerite</h5>
            <p class="card-text">Jaufret est un passionné de technique et de technologie. Il est responsable de l'équipement audiovisuel du Cinéma Du Dimanche et veille à ce que chaque projection soit d'une qualité irréprochable. Il est également le magicien des effets spéciaux. Sa débrouillardise et sa créativité sont précieuses pour l'équipe.</p>
            <p><i class="fa fa-phone"></i> +33 686997895</p>
            <p><i class="fa fa fa-envelope"></i> PassionTechCDD@cinema.com</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row" >
      <div class="" style="text-align: center;">
        <div class="card blocPeople">
          <div class="card-body" >
            <h5 class="card-title">Pierre Sanchez</h5>
            <p class="card-text">Pierre est le gestionnaire du Cinéma Du Dimanche. Il s'occupe de la logistique, de la programmation et des aspects financiers. C'est un organisateur méticuleux qui veille à ce que tout fonctionne sans accroc. Sa passion pour les chiffres est équilibrée par son amour sincère pour le cinéma, ce qui en fait un membre indispensable de l'équipe.</p>
            <p><i class="fa fa-phone"></i> +33 686997894</p>
            <p><i class="fa fa fa-envelope"></i> GestionnaireCDD@cinema.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
    <br>
  </div>
 

  
  