<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col-md-2">id</th>
      <th scope="col-md-6">date</th>
      <th scope="col-md-6">heure</th>
      <th scope="col-md-4">nb_places_reservees</th>
      <th scope="col-md-4">film_id</th>
      <th scope="col-md-4">salle_id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let seance of seances">
      <th>{{seance.id}}</th>
      <th>{{seance.date}}</th>
      <th>{{seance.heure}}</th>
      <th>{{seance.nbPlacesReservees}}</th>
      <th>{{seance.film}}</th>
      <th>{{seance.salle}}</th>
      <td>
        <button class="btn btn-primary" (click)="AllerAReservation(seance)">Réserver</button>
      </td>
    </tr>
  </tbody>
</table>
