

<div class="marquee-rtl">
    <div>LES FILMS<b> A L'AFFICHE </b>EN CE MOMENT</div>
  </div>

  <div class="carousel" style="text-align: center; background-color: lightgreen;">
    <div class="carousel-items" style="display: flex; align-items: center;">
      <!-- boucle sur chaque image -->
      <div class="carousel-item" *ngFor="let image of images; let i = index" [ngClass]="[getActiveClass(i), 'center']">
       <a [routerLink]="['/infos',i+1]">
        <img src="assets/images/{{ image }}" alt="Slide {{ i + 1 }}" style="height: 500px; width: 350px;">
    </a>  
    </div>
    </div>
  </div>
  
  <br><br><br><br>
 

<br><br>
<h2>Une petite pause, n'hseitez pas a tester nos nouveaux produits d'exception</h2>
<a href="https://www.ferrero.fr/nutella">
    <img src="assets/images/imageFilmAVenir/imagepub.jpg" style="height: 200px; width: 1050px;text-align: center;"  >
</a>
<hr>
<br><br>
  <div class="marquee-rtl">
    <div>ET VOICI LES FILMS A VENIR DANS LES PROCHAINE SEMAINES</div>
  </div> 

 <div class="carousel" style=" text-align: center;background-color: lightsalmon;">
    <div class="carousel-items" style="display: flex; align-items: center;">
      <div class="carousel-item" [ngClass]="[getActiveClass(0), 'center']">
        <img src="{{ slides2[1].image }}" alt="Slide 1" style="height: 500px; width: 350px;">
      </div>
      <div class="carousel-item" [ngClass]="[getActiveClass(1), 'center']">
        <img src="{{ slides2[2].image }}" alt="Slide 2" style="height: 500px; width: 350px;">
      </div>
      <div class="carousel-item" [ngClass]="[getActiveClass(2), 'center']">
        <img src="{{ slides2[3].image }}" alt="Slide 3" style="height: 500px; width: 350px;">
      </div>
    </div>
  </div>

  <!-- test -->
  
