<div class="page">
  <br />
  <div class="titre">
    <h2>Réserver des places pour {{ seance?.film?.nom }}</h2>
    <p>Salle n° {{ seance?.salle?.id }}</p>
  </div>
  <br>
  <div>
    <img [src]="getImageSrc(seance?.film?.id)" alt="Image du film" width="200px" />
  </div>
  <div class="contenu">
    <div>
      <label for="nombre-places">Nombre de places :</label>
      <input
        class="recherche"
        type="number"
        id="nombre-places"
        [(ngModel)]="nombrePlaces"
        min="0"
        onkeydown="return event.keyCode === 38 || event.keyCode === 40;"
      />
    </div>
    <br>
    <div *ngIf="seance && seance.film">
      <p>Prix unitaire : {{ prix }} €</p>
      <p>Prix : {{ prix * nombrePlaces }} €</p>
      <p>Places dans la salle : {{ seance.salle.nb_places }}</p>
      <p>Places réservées:  {{ seance.nbPlacesReservees }}</p>
      <p>Nombre de places restantes : {{ seance.salle.nb_places - seance.nbPlacesReservees }}</p>
    </div>
    <br>
    <button class="btn btn-primary" (click)="reserverPlaces()">Réserver</button>
    <div class="resaOK" *ngIf="reservationReussie !== null">
      <div *ngIf="reservationReussie === true && placesRestantes !== null && placesRestantes >= 0">
        <p>Salle n° {{ seance.salle.id }}</p>
        <p>{{ seance.film.nom }}</p>
        <p>Nombre de places réservées : {{ nombrePlaces }}</p>
        <p>Prix total : {{ prix * nombrePlaces }} €</p>
        <p>Places restantes : {{ placesRestantes }}</p>
        <p>Date : {{ seance.date }}</p>
        <p>Horaires : {{ seance.heure }}</p>
        <button class="btn btn-primary" [disabled]="nombrePlaces === 0" (click)="imprimerReservation()">Imprimer la réservation</button>
        <br>
      </div>

      <div *ngIf="!reservationReussie">
        <p>La réservation a échoué.</p>
      </div>

      <div *ngIf="reservationReussie && placesRestantes !== null && placesRestantes < 0">
        <p>Il n'y a plus de places disponibles.</p>
      </div>
    </div>
  </div>
</div>

