<div class="page">
  <br />
  <div class="titre">
    <h2>Réserver des places pour la séance {{ seanceId }}</h2>
  </div>
  <br />
  <div class="contenu">
    <div>
      <label for="nombre-places">Nombre de places :  </label>
      <input
      class="recherche"
        type="number"
        id="nombre-places"
        [(ngModel)]="nombrePlaces"
        min="0"
        onkeydown="return event.keyCode === 38 || event.keyCode === 40;"
      />
    </div>
<br>
    <div>
      <p>Prix unitaire : {{ prix }} €</p>
      <p>Prix : {{ prix * nombrePlaces }} €</p>
      <!-- <p>Places restantes : {{ placesRestantes }}</p> assayer d'ajouter sinon tant pis -->
    </div>
<br>
    <button class="btn btn-primary" (click)="reserverPlaces()">Réserver</button>
    <div class="resaOK"
    *ngIf="reservationReussie !== null">
      <div
        *ngIf="
          reservationReussie === true &&
          placesRestantes !== null &&
          placesRestantes >= 0
        "
      >
        <p>Nombre de places réservées : {{ nombrePlaces }}</p>
        <p>Séance : {{ seanceId }}</p>
        <p>Prix total : {{ prix * nombrePlaces }} €</p>
        <p>Places restantes : {{ placesRestantes }}</p>
      </div>

      <div *ngIf="!reservationReussie">
        <p>La réservation a échoué.</p>
      </div>

      <div
        *ngIf="
          reservationReussie && placesRestantes !== null && placesRestantes < 0
        "
      >
        <p>Il n'y a plus de places disponibles.</p>
      </div>
    </div>
  </div>
</div>

