<div class="page">
  <br />
  <div class="titre">
    <h2>Accès réservé pour la gestion du cinéma</h2>
  </div>
  <br />
  <div class="text-center">
  <p>
    Depuis cette page, vous êtes en mesure de gérer la programmation des séances
    du cinéma, ainsi que l'ajout des films.
  </p>
  <p>Pour cela, vous avez simplement à cliquer sur les bouttons ci-après :</p>
</div>
<br><br>
  <div class="text-center">
    <a routerLink="/regiSeance" class="btn btn-primary"
      >Accéder à la gestion des séances</a
    >
  </div>
  <br /><br />
  <div class="text-center">
    <a routerLink="/listeFilms" class="btn btn-primary"
      >Accéder à la gestion des films</a>
  </div>
  <br><br>
</div>
