<!------ Liaison au fontawesome ---------->

<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
  crossorigin="anonymous"
/>

<!--footer-->

<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
     
      <div class="col-sm-4 col-md col-sm-4 col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Comment nous trouver ?</h5>
        <!--headin5_amrc-->
        <p class="mb10">Ton cinéma préféré à deux pas de chez toi !</p>
        <p><i class="fa fa-location-arrow"></i> 96 rue Dudimanche 14000 Caen</p>
        <p><i class="fa fa-phone"></i> +90-9999878398</p>
        <p><i class="fa fa fa-envelope"></i> CDD@cinema.com</p>
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Liens  rapide</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="/accueil">Accueil</a></li>
          <li>
            <a href="/filmographie">A l'affiche</a>
          </li>
          <li><a href="/prochainement">Prochainement</a></li>
          <li><a href="/contacts">Contacts</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Suis-nous sur les réseaux !</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul2_amrc">
          <li>
            <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p>
              Ce cinéma est le meilleur du monde !! 
            </p>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p>
              Une expérience inoubliable !
            </p>
          </li>
          <li>
            <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
            <p>
              Plus de pop-corn svp.
            </p>
          </li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="/accueil">Accueil</a></li>
      <li><a href="/filmographie">A l'affiche</a></li>
      <li><a href="/prochainement">Prochainement</a></li>
      <li><a href="/contacts">Contacts</a></li>

    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">
      Copyright @2023 | Fait par l'équipe des cinéphiles du dimanche : <a href="#">CDD</a>
    </p>

    <ul class="social_footer_ul">
      <li>
        <a href="https://fr-fr.facebook.com/"
          ><i class="fab fa-facebook-f"></i
        ></a>
      </li>
      <li>
        <a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="https://fr.linkedin.com/"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
    <!--fin footer-->
  </div>
</footer>


