<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cinéma Du Dimanche</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/accueil">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/filmographie">À l'affiche</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/prochainement">Prochainement</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Information/Contacts</a>
          </li>
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-success" type="submit">Se connecter</button>
        </form>
      </div>
    </div>
  </nav>
