<h1>En ce moment à l'affiche</h1>

<div class="grille-films">
  <div class="film-card" *ngFor="let film of films">
    <img [src]="'assets/images/' + film.id + '.jpg'" alt="{{ film.nom }}" class="film-image">
      <div class="film-info">
        <h2 class="film-title"><strong>{{ film.nom }}</strong></h2>
        <p class="film-director">Réalisateur : {{ film.realisateur }}</p>
        <p class="film-actors">Acteurs : {{ film.acteur_1 }}, {{ film.acteur_2 }}</p>
        <p class="film-duration">Durée : {{ film.duree }}</p>
        <p class="film-release-date">Date de sortie : {{ film.dateSortie }}</p>
        <p class="film-synopsis">Synopsis : {{ film.synopsis }}</p>
        <p class="film-category">Catégorie : {{ film.categorie }}</p>
        <p class="film-language">Langue : {{ film.langue }}</p>
        <!-- <p class="film-bandeAnnonce">Bande annonce : {{ film.bandeAnnonce }}</p> -->
        <!-- <p class="film-showtimes">Séances : {{ film.seance }}</p> -->
      </div>
    </div>
  </div>
  