<h2>Affichage des horaires de séance</h2>

<div>
  <h4>Veuillez choisir une date :</h4>
  <select id="jour-select" [(ngModel)]="choixDate" (change)="uneDate(choixDate)">
    <option value="" disabled selected>Choisir une date</option>
    <option value="2023-05-22">22 mai 2023</option>
    <option value="2023-05-23">23 mai 2023</option>
    <option value="2023-05-24">24 mai 2023</option>
  </select>
</div>

<div>
  <h5>Rechercher</h5>
  <input type="text" placeholder="Rechercher un film" [(ngModel)]="rechercheTitre">
</div>

<div>
    <table>
      <thead>
        <tr>
          <th>Film</th>
          <th>Heure</th>
          <th>Durée</th>
          <th>Réservation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let seance of seances" [hidden]="!filtreTitre(seance)">
          <td>{{ seance.film.nom }}</td>
          <td>{{ seance.heure }}</td>
          <td>{{ seance.film.duree }}</td>
          <td>
            <button class="btn btn-primary" (click)="AllerAReservation(seance)">Réserver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
