<div class="page">
  <br />
  <div class="titre">
    <h2>Affichage des horaires de séance</h2>
  </div>
  <br />
  <div class="contenu">
    <div>
      <div class="titre2">
        <h4>Veuillez choisir une date :</h4>
      </div>
      <select
      class="inputDate"
        id="jour-select"
        [(ngModel)]="choixDate"
        (change)="uneDate(choixDate)"
      >
        <option value="" disabled selected>Choisir une date</option>
        <option value="2023-05-22">22 mai 2023</option>
        <option value="2023-05-23">23 mai 2023</option>
        <option value="2023-05-24">24 mai 2023</option>
      </select>
    </div>
    <br><br>
    <div>
      <div class="titre3">
        <h5>Rechercher</h5>
      </div>
      <input
      class="recherche"
        type="text"
        placeholder="Rechercher un film"
        [(ngModel)]="rechercheTitre"
      />
    </div>
    <br>
    <div>
      <table>
        <thead>
          <tr>
            <th>Film</th>
            <th>Heure</th>
            <th>Durée</th>
            <th>Réservation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let seance of seances" [hidden]="!filtreTitre(seance)">
            <td>{{ seance.film.nom }}</td>
            <td>{{ seance.heure }}</td>
            <td>{{ seance.film.duree }}</td>
            <td>
              <button
                class="btn btn-primary"
                (click)="AllerAReservation(seance)"
              >
                Réserver
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
